@model MVCScaffolding2.Models.BoekViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Boek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auteur" class="control-label"></label>
                <input asp-for="Auteur" class="form-control" />
                <span asp-validation-for="Auteur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AantalBlz" class="control-label"></label>
                <input asp-for="AantalBlz" class="form-control" />
                <span asp-validation-for="AantalBlz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taal" class="control-label"></label>
                <input asp-for="Taal" class="form-control" />
                <span asp-validation-for="Taal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" class="form-control" asp-items="@Model.Genres"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
